{
  "train_data_path" : "./data/train.txt",
  "dev_data_path" : "./data/devwithoutlabels.txt",
  "test_data_path" : "./data/testwithoutlabels.txt",
  "solution_path" : "./result/test.txt",
  "glove_dir" : "./vector",
  "num_folds" : 5,
  "num_classes" : 4,
  "max_nb_words" : 20000,
  "max_sequence_length" : 140,
  "embedding_dim" : 1024,
  "batch_size" : 256,
  "lstm_dim" : 120,
  "learning_rate" : 0.003,
  "dropout" : 0.25,
  "num_epochs" : 75
}